body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

footer {
    min-height: 3.5rem;
    color: whitesmoke;
    padding: 1rem 0;
}

.dashboard-content {
    display: flex;
    height: inherit;
}

.sidebar {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
    overflow: hidden;
    background-color: #424a5d;
}

.sidebar .img-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.sidebar img {
    width: 200px;
}

.sidebar > ul {
    padding-left: 4rem;
}

.sidebar li a {
    font-size: 1.2rem;
    color: whitesmoke;
    text-decoration: none;
}

.main-content {
    padding: 2rem 3rem;
    height: 90vh;
    overflow-y: scroll;
    flex-grow: 1;
}

@media (min-width: 992px) {
    .sidebar {
        position: relative;
        width: 20vw;
    }
}